<div class="wrapper">
      <!-- main-header -->
      <header class="main-header" >


        <!-- main navbar -->
        <nav class="navbar navbar-default main-navbar hidden-sm hidden-xs">
          <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <a  href="/"><img style="padding: 6px;" class="navbar-brand" src="https://res.cloudinary.com/dko7n7x16/image/upload/v1524770564/LogoMakr_4hyY2t_iguecr.png"></a>

                   
              <ul class="nav navbar-nav navbar-right">
                <li class="link-btn"><a href="/jobs/new"><span class="btn btn-theme  btn-pill btn-xs btn-line">Post job</span></a></li>
                <li class="link-btn"><a href="/login"><span class="btn btn-theme  btn-pill btn-xs btn-line">Login</span></a></li>
              </ul>
            </div>
          </div>
        </nav><!-- end main navbar -->

        <!-- mobile navbar -->
        <div class="container">
          <nav class="mobile-nav hidden-md hidden-lg">
            <a href="/jobs/new" class="btn-nav-toogle first">Post Job</a>
            
          </nav>
        </div><!-- mobile navbar -->

        <div class="hero-header" style="background: url(https://res.cloudinary.com/dko7n7x16/image/upload/v1524766483/space-desk-workspace-coworking_eearbt.jpg); min-height: 385px;">
          <div class="inner-hero-header" style="bottom: inherit;">
            <div class="container">
              <div class="text-center logo"> <a href="index.html"><img src="assets/theme/images/logo.png" alt=""></a></div>
              <div class="relative">
                <i class="fa fa-globe ic-fade-globe"></i>
                <!-- form search -->
                <form style="max-width: inherit; background: inherit;" class="form-search-home" accept-charset="UTF-8" role="search" action="/jobs" method="get">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <h3 style="color: #fff;">Find a Job By Title</h3>
                        <input name="utf8" type="hidden" value="&#x2713;" />
                        <input class="form-control  input-lg" placeholder="Business developer" name="search" id="search">
                      </div>
                    </div>
                    
                  </div>
                  
                  
                </form> <!-- end form search -->
              </div>
            </div>
          </div>

        </div>
      </header><!-- end main-header -->

    </div> 